<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Nick & Artie</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	

	<link rel="stylesheet" href="/public/stylesheets/base.css">
	<link rel="stylesheet" href="/public/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/public/stylesheets/layout.css">
	
	<link rel="stylesheet" href="/public/stylesheets/nanda.css">
	<link rel="stylesheet" href="/public/libraries/ScrollBar/jquery.mCustomScrollbar.css">

    <link rel="stylesheet" href="/public/libraries/lightbox/css/jquery.lightbox-0.5.css">



    @RenderSection("PageCSS",false)
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27895530-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
</head>
<body>
	<div class="Navigation">
		<div class="centered-container">
			<div class="logo">
				<a href="/">
					<img src="/public/images/logo.png">
				</a>
			</div>
			<div class="listenlive">
				<a href="/streaming-player/streaming-player.html" class="ListenLiveWindow">
					<img src="/public/images/listenlive.png">
				</a>
			</div>
			<div>
				<ul>
					<li><a href="/podcasts">Podcasts+Video</a></li>
					<li><a href="http://www.nickandartiestuff.com/" target="_blank">Nick & Artie Gear</a></li>
					<li><a href="/meet">Meet Nick & Artie</a></li>
					<li><a href="/contactus">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container">
	    @RenderBody() 

        <div id="footer-container">
            <div id="bottom-banner">
                <!-- begin ad tag -->
                <script type="text/javascript">
                    //<![CDATA[
                    ord = Math.random() * 10000000000000000;
                    document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/prnd/prn-nick;pos=bottom;prntype=web;prngenre=sports;sz=728x90;u=pos*bottom!prntype*web!prngenre*sports!sz*728x90;ord=' + ord + '?"><\/script>');
                    //]]>
                </script>
                <noscript><a href="http://ad.doubleclick.net/jump/prnd/prn-nick;pos=bottom;prntype=web;prngenre=sports;sz=728x90;u=pos*bottom!prntype*web!prngenre*sports!sz*728x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/prnd/prn-nick;pos=bottom;prntype=web;prngenre=sports;prnpage=dannation;sz=728x90;u=pos*bottom!prntype*web!prngenre*sports!sz*728x90;ord=123456789?" border="0" alt="" /></a></noscript>
                <!-- end ad tag -->
            </div>
            <ul>
			    <li><a href="/podcasts">Podcasts+Video </a>&nbsp;|</li>
			    <li><a href="http://www.nickandartiestuff.com/" target="_blank">Nick & Artie Gear </a>&nbsp;|</li>
			    <li><a href="/meet">Meet Nick & Artie </a>&nbsp;|</li>
			    <li><a href="/contactus">Contact Us</a></li>
		    </ul>
            <div id="bottom-banner-icons">
                <a href="http://twitter.com/NickandArtie" target="_blank"><img src="/public/images/twitter.png" /></a>&nbsp;&nbsp;
                <a href="http://www.facebook.com/TheNickandArtieShow" target="_blank"><img src="/public/images/facebook.png" /></a>
            </div>
        </div>
	</div>
    
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script src="/public/javascripts/slides.min.jquery.js"></script>
	<script src="/public/libraries/twitter/jquery.tweet.js"></script>   
	<script src="/public/libraries/ScrollBar/jquery.mousewheel.min.js"></script>
	<script src="/public/libraries/ScrollBar/jquery.mCustomScrollbar.js"></script>
	<script src="/public/javascripts/jquery.popupWindow.js"></script>  
	<script src="/public/libraries/jPlayer/jquery.jplayer.min.js"></script>
	<script src="/public/libraries/jPlayer/jplayer.playlist.min.js"></script>
    <script src="/public/libraries/lightbox/js/jquery.lightbox-0.5.min.js"></script>
    <script src="/public/javascripts/jquery.equalheights.js"></script>
	
			<script type="text/javascript">
			    $('.ListenLiveWindow').popupWindow({
			        height: 320,
			        width: 370,
			        top: 50,
			        left: 50
			    });

			    $('.PopUpPlayer').popupWindow({
			        height: 500,
			        width:435,
			        top: 50,
			        left: 50,
			        resizable: false
			    });
			</script>
                <script type="text/javascript">
                    $(function () {
                        $('#PhotoReel a').lightBox(); // Select all links in object with gallery ID
                    });
            </script>
			<script>
			    $(function () {
			        $("#slideshow").slides({
			            preload: true,
			            pause: 3000,
			            play: 6000,
			            generatePagination: false
			        });
			    });

			    jQuery(function ($) {
			        $("#twitter-body").tweet({
			            join_text: "auto",
			            username: "nickandartie",
			            avatar_size: 35,
			            count: 3,
			            loading_text: "loading tweets..."
			        });
			    });
				
			</script>
			<script>
			    (function ($) {
			        $(window).load(function () {
			            $("#PhotoReel").mCustomScrollbar({
			                horizontalScroll: false,
			                scrollButtons: {
			                    enable: true,
			                    scrollType: "pixels",
			                    scrollAmount: 116
			                }
			            });


			            function snapScrollbar() {
			                if (!$(document).data("mCS-is-touch-device")) { //no snapping for touch devices
			                    var posX = $("#content_2 .mCSB_container").position().left;
			                    var closestX = findClosest(Math.abs(posX), snapTo);
			                    if (closestX === 0) {
			                        $("#content_2").mCustomScrollbar("scrollTo", "left", {
			                            callback: false //scroll to is already a callback fn
			                        });
			                    } else {
			                        $("#content_2").mCustomScrollbar("scrollTo", closestX, {
			                            callback: false //scroll to is already a callback fn
			                        });
			                    }
			                }
			            }
			            function findClosest(num, arr) {
			                var curr = arr[0];
			                var diff = Math.abs(num - curr);
			                for (var val = 0; val < arr.length; val++) {
			                    var newdiff = Math.abs(num - arr[val]);
			                    if (newdiff < diff) {
			                        diff = newdiff;
			                        curr = arr[val];
			                    }
			                }
			                return curr;
			            }
			        });
			    })(jQuery);
			</script>
            @RenderSection("Playlist", false)

            <!-- OMNITURE TRACKING BEGIN --->
            <script type="text/javascript">s_account = "ccpremiere,ccpremiere69";</script> 
            <script type="text/javascript" src="http://common.prndigital.com/js/s_code.js" ></script> 
            <script type="text/javascript">
                s.pageName = "XXXXX:YYYYY"
                s.prop3 = "YYYYY"
                s.prop5 = "website"
                s.prop6 = "NickAndArtie"
                s.prop7 = "PREMIERE"
                s.prop8 = "Sports"
                s.prop10 = "XXXXX"
                s.hier1 = "NickandArtie,PREMIERE"
                s.hier2 = "NickandArtie,SPORTS"

                /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
                var s_code = s.t(); if (s_code) document.write(s_code)
            </script>
            <!-- OMNITURE TRACKING END --->

            <!-- Start Quantcast tag -->
            <script type="text/javascript">
                _qoptions = {
                    qacct: "p-d8BTN2GVeWkVc",
                    labels: "Premiere.NickandArtie"
                };
            </script>
            <script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
            <noscript>
            <img src="http://pixel.quantserve.com/pixel/p-d8BTN2GVeWkVc.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
            </noscript>
            <!-- End Quantcast tag -->

            <!-- COPYRIGHT 2010 Nielsen Online -->
            <script type="text/javascript">
                (function () {
                    var d = new Image(1, 1);
                    d.onerror = d.onload = function () {
                        d.onerror = d.onload = null;
                    };
                    d.src = ["//secure-us.imrworldwide.com/cgi-bin/m?ci=us-704373h&cg=0&cc=1&si=", escape(window.location.href), "&rp=", escape(document.referrer), "&ts=compact&rnd=", (new Date()).getTime()].join('');
                })();
            </script>
            <noscript>
            <div>
            <img src="//secure-us.imrworldwide.com/cgi-bin/m?ci=us-704373h&amp;cg=0&amp;cc=1&amp;ts=noscript" width="1" height="1" alt="" />
            </div>
            </noscript>
            <!-- END Nielsen Online SiteCensus V6.0 -->       
</body>
</html>
